/* ALAP */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4fbff;
  color: #0b3c49;
  text-align: center;
  padding-top: 0
}

/* HERO */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px 20px;
  gap: 15px;
}
.hero {
  margin-top: 0;
}
.logo {
  width: 400px;
  transition: all 0.8s ease;
}
h1 {
  font-size: 32px;
  margin: 0;
}

.subtitle {
  font-size: 18px;
  color: #3b5c66;
  max-width: 400px;
}

/* GOMB */
.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 12px 25px;
  background: #f4a261;
  color: white;
  border-radius: 25px;
  text-decoration: none;
}

/* MAIN */
main {
  max-width: 700px;
  margin: auto;
  padding: 20px;
}

/* CARD */
.card {
  background: white;
  padding: 25px;
  margin: 20px 0;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.05);
}

/* PROGRESS */
.progress {
  background: #e3f2f7;
  height: 12px;
  border-radius: 10px;
  margin: 15px 0;
}

.bar {
  background: #2a9d8f;
  height: 100%;
  border-radius: 10px;
}

/* BLOG */
.post {
  background: #f1f9fc;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}

/* GALÉRIA */
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.gallery img {
  width: 48%;
  border-radius: 15px;
}

/* FLOAT BUTTON */
.floating {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #ff6b6b;
  color: white;
  padding: 15px;
  border-radius: 50%;
  text-decoration: none;
}

/* 📱 MOBIL */
@media (max-width: 600px) {
  .gallery img {
    width: 100%;
  }

  .logo {
    width: 200px;
  }

  h1 {
    font-size: 24px;
  }
}
/* COUNTDOWN */

.countdown {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 15px;
  flex-wrap: wrap;
}
.time-box {
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.time-box {
  background: #fff3b0; /* pasztell sárga */
  padding: 15px;
  border-radius: 15px;
  min-width: 70px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
  transition: transform 0.2s ease;
}

.time-box span {
  display: block;
  font-size: 22px;
  font-weight: bold;
  transition: transform 0.2s;
}

.time-box span.change {
  transform: scale(1.2);
}

.time-box small {
  font-size: 12px;
  color: #666;
}

@media (max-width: 600px) {
  .time-box {
    min-width: 60px;
    padding: 10px;
  }
}
/* HEADER SCROLL EFFECT */
.header {
  display: flex;
  justify-content: center;
  padding: 40px 20px;
  transition: all 0.3s ease;
}

.logo {
  width: 260px;
  transition: all 0.4s ease;
}
.logo.scrolled {
  position: fixed;
  top: 10px;
  left: 20px;
  width: 100px;
  z-index: 1000;
}